body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.felxible-container{
    display: flex;
}
.half-width{
    width: 50%;
   
}
.half-width img{
    width: 50%;
}

.half-leangth{
    width: 50%;
    padding-top: 10%;
    padding-right: 5%;

}
.half-leangth img{
    width: 60%;
    padding-left: 40%;

}
.half-quatar{
    width: 50%;
    padding-top: 10%;
    padding-left: 10%;

}
.half-quatar img{
    width: 60%;
   padding-left: 5%;

}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 100;
    border-radius: 5px;
}
.link-B{
    text-decoration: none;
    background-image: linear-gradient(red,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 100;
    border-radius: 5px;
    text-align: right;

}
.bg{
    background-color: greenyellow;
    
}



#top{
    padding-top: 5%;
}

#border{
    border-left: 4px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
    padding-left: 10px;
}
.orange-color{
    color: orange;
    
}
.nevy{
    color: blue;
    }
    #text{
        text-align: right;
        padding-left: 30%;
    }
    .half-exprience{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 10px;
        padding-left: 2%;
       
    }
    .half-exprience img{
        width: 50%;
    }
    .half-expc{
        width: 30%;
        margin-left: 30%;
        margin-right: 20%;
        border-radius: 10px;
        padding-left: 5%;
        padding-top: 5%;
       padding-bottom: 2%;
       padding-right: 5%;
    }
    .half-expc img{
        width: 40%;
        padding-left: 20%;
    }
    #back-color{
        background-color: rgba(0, 0, 255, 0.288);

    }
    #bc{
        background-color: rgba(255, 0, 0, 0.466);
    }
    #lc{
        background-color: rgba(255, 166, 0, 0.397);
    }
    #TX{
        text-align: center;
        padding-top: 10%;
    }
    #pc{
        background-color: cornflowerblue;
    }
    #link{
        text-align: center;
        margin-left: 30%;
    
    }
    #hg{
        padding-left: 35%;
    }
    #gg{
        padding-left: 40%;
    }
    